body { 
		padding-left: 19em;
		background-color: #B0E0E6;
		background-repeat: no-repeat;
		background-position:
		color: #A0522D;
		font-family: georgia, "Times New Roman", Times, serif;}

	ul.navbar {
		list-style-type: none;
		padding: 0;
		margin: 0;

	position: absolute;
	top: -0.70em;
	left: 2.50em;
	width: 14em;}

	a:link { color: blue; }

	a:visited { color: purple; }

	a:active { color: yellow; }

	a:hover { color: green; font-family: arial; }

	h1 {background-color: #32CD32; 
		text-align: center;
		color: #A0522D;
		text-decoration: underline;}


		ul.navbar li{
		background: #ADFF2F;
		margin: 2em -1.50em;
		padding: 0.5em;
		border-right: 1em solid #A0522D;
		border-left: 1em solid #A0522D;
		text-align: center;
		font-family: cooper black;}

	h3 { position: absolute; top: 12em; left: 20em; text-shadow: 0.1em 0.5em 0.3em #333; }

	h4 {
		list-style-type: none;
		padding: 0;
		margin: 0;

	position: absolute;
	text-align: justify; 
	top: 43em;
	left: 4.40em;
	width: 15em; }

	h5 { position: absolute; top: 25em; left: 71.60em; font-weight: normal; font-family: arial;}

	p { position: absolute; left: 47.50em; top: 15em; text-align: justify;font-size: 1.25em; }

	iframe { position: absolute; top: 35em; left: 59.50em; }

	address { position: absolute; top: 66em; left: 46em; }

	input { background-color: #DCDCDC; height: 3em; width: 40em; }

	input:hover { background-color: white; }

	input::-webkit-inner-spin-button {-webkit-appearance: none;}

	table { position: absolute; top: 20em; left: 25em; background-color: transparent;}

	textarea { background-color: #DCDCDC; width: 40.20em;}

	textarea:hover { background-color: white;}